html, body {
    padding: 0;
    font-family: sans-serif;
    color: #777788;
}

.clearfix {
    clear: both;
}

header {
    padding: 50px 20px;
    text-align: center;
}

header > .title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

header img {
    vertical-align: middle;
    margin-right: 24px;
}

main {
    padding: 15px;
}

footer {
    margin-top: 40px;
    border-top: 3px solid;
    text-align: center;
}

footer p {
    display: block;
    margin-top: 20px;
    font-weight:  600;
}

#content {
    margin-right: 200px;
    margin-left: 200px;
}

.userWelcome {
    display: block;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
}
