main {
    text-align: center;
}

.form-box{
    background: #fff;
    margin: 30px auto;
    max-width: 70%;
    box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
    border-radius: 30px;
    height: 100%;
}


form#search-form {
    overflow: hidden;
    position: relative;
    padding: 40px;
}

.head {
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    padding: 10px 50px;
    text-align: center;
    text-transform: uppercase;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#search-box {
    border-color: #D1D2D4;
}

#id_gender {
    border-color: #D1D2D4;
}

#id_credentials {
    border-color: #D1D2D4;
}

#id_location {
    border-color: #D1D2D4;
}

#id_specialty {
    border-color: #D1D2D4;
}

#submit_btn {
    margin-top: 25px;
}

.center {
    width: 100%;
    text-align:center;
}

ul {
    list-style: none;
}

td {
    text-align: left;
}

.prescriberTableItem {
    text-align: center;
}

.hideAlert{
    display: none;
}

#searchAlert {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
