<%inherit file="base.htm" />

<%block name="content">
    <div class="jumbotron" style="max-width: 50%; margin-left: 25%; margin-right: 25%">
        <h1> About Prescription Tracker</h1>
        <br />
        <p>The opioid crisis is devastating communities across America. The latest statistics indicate that the total yearly overdose deaths due to opioids reached a new high of 70,237 in 2017. In that same year, President Trump declared the opioid crisis a public health emergency. </p>
            <br />
        <p>While different measures have been taken to combat the crisis,no web-accessible database is available to allow government officials, healthcare providers, and prescribers to view and analyze the volume of drugs being prescribed... Until Now</p>
            <br />
        <p>OpioidTracker.co was built to help combat the opioid epidemic across america by providing government officials, healthcare providers, and prescribers to view and analyze the volume of drugs being prescribed.</p>
    </div>


</%block>
