<%inherit file="app_base.htm" />
<%from search import models as smod %>
<%block name="header">
    <div class="form-box">
        <div class="head bg-primary">Search By Drug</div>
        <form id="search-form" class="form-inline my-2 my-lg-0" method="POST">
                <table align="center">
                    ${ form.as_table() }
                </table>
            <input id="submit_btn" type="submit" class="btn btn-primary btn-block btn-lg" value="Search"/>           
        </form>
    </div>

    <table class="table table-hover table-primary" style="width: 70%; margin-left: 15%; margin-right: 15%; display: ${ 'None' if len(drugs) == 0 else 'block' }">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Drug ID</th>
                <th scope="col">Drug Name</th>
                <th scope="col">Drug Type</th>
            </tr>
        </thead>
        <tbody>
            %for item in drugs:
            <tr class="table-active">

                <td scope="row"><a href="/search/drug_profile/${ item.drugid }">${ item.drugid }</a></td>
                <td scope="row"><a href="/search/drug_profile/${ item.drugid }">${ item.drugname }</a></td>
                <td scope="row"><a href="/search/drug_profile/${ item.drugid }">${ 'Opioid' if item.isopioid else 'Non-Opioid' }</a></td>
            </tr>
            %endfor
        </tbody>
    </table>
</%block>
<%block name="content">
    
</%block>