<%inherit file="app_base.htm" />
<%from search import models as smod %>
<%block name="header">
    <div class="card mb-3 prescriber-card">
        <h3 class="card-header">${ prescriber.fname + ' ' + prescriber.lname }</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Gender:</strong> ${ 'Male' if prescriber.gender == 'M' else 'Female'}</li>
            <li class="list-group-item"><strong>Credentials:</strong> ${ prescriber.credentials }</li>
            <li class="list-group-item"><strong>Location:</strong> ${ prescriber.state.state }</li>
            <li class="list-group-item"><strong>Specialty:</strong> ${ prescriber.specialty }</li>
        </ul>
        <div class="card-footer text-muted">
            <a class="card-link" href="/search/prescribers/">&#10229; Back to search</a>
        </div>
    </div>
    </br></br>
    <div class="card mb-3 prescriber-card">
            <h3 class="card-header">Drugs Prescribed</h3>
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">Drug</th>
                        <th scope="col">Quantity Prescribed by ${ prescriber.fname }</th>
                        <th scope="col">Average Quantity Prescribed By All Prescribers</th>
                        </tr>
                    </thead>
                    <tbody>
                        %for item in drugs:
                        <tr class="table-default">
                            <th scope="row">${ item.drugname.drugname }</th>
                            <td>${ item.qty }</td>
                            <td>Pass</td>
                        </tr>
                        %endfor
                    </tbody>
                </table>
            </div>
            <div class="card-footer text-muted">
                <a class="card-link" href="/search/prescribers/">&#10229; Back to search</a>
            </div>
        </div>

</%block>
<%block name="content">
    
</%block>