<%inherit file="app_base.htm" />
<%from search import models as smod %>
<%block name="header">
    <div class="card mb-3 prescriber-card">
        <h3 class="card-header">${ prescriber.fname + ' ' + prescriber.lname }</h3>
        <!--<div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
        </div>-->
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Gender:</strong> ${ 'Male' if prescriber.gender == 'M' else 'Female'}</li>
            <li class="list-group-item"><strong>Credentials:</strong> ${ prescriber.credentials }</li>
            <li class="list-group-item"><strong>Location:</strong> ${ prescriber.state.state }</li>
            <li class="list-group-item"><strong>Specialty:</strong> ${ prescriber.specialty }</li>
        </ul>
        <div class="card-footer text-muted">
            <a class="card-link" href="/search/prescribers/">Back to search</a>
        </div>
    </div>

</%block>
<%block name="content">
    
</%block>