<%inherit file="app_base.htm" />
<%from search import models as smod %>

<%block name="header">
    <div id="searchAlert" class="alert ${ 'hideAlert' if len(prescribers) == 0 else '' } ${ 'alert-danger' if len(prescribers) == 0 else 'alert-info' } alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="false">&times;</button>
        ${ 'Loading search results, this may take a moment...' if len(prescribers) == 0 else 'Success! See search results below...' }
    </div>

    <div class="form-box">
        <div class="head bg-primary">Search By Prescriber</div>
        <form id="search-form" class="form-inline my-2 my-lg-0" method="POST">
                <table align="center">
                    ${ form.as_table() }
                </table>
            <input id="submit_btn" type="submit" class="btn btn-primary btn-block btn-lg" value="Search" onclick="showAlert()"/>

        </form>
    </div>

    <table class="table table-hover" style="width: 70%; margin-left: 15%; margin-right: 15%; ${ 'display: None' if len(prescribers) == 0 else '' }">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Credentials</th>
                <th scope="col">Location</th>
                <th scope="col">Specialty</th>
            </tr>
        </thead>
        <tbody>
            %for item in prescribers:
            <tr class="table-light">
                <td class="prescriberTableItem" scope="row"><a href="/search/prescriber_profile/${ item.prescriberid }">${ item.fname + ' ' + item.lname }</a></td>                    
                <td class="prescriberTableItem" scope="row"><a>${ 'Male' if item.gender == 'M' else 'Female' }</a></td>
                <td class="prescriberTableItem" scope="row"><a>${ item.credentials }</a></td>
                <td class="prescriberTableItem" scope="row"><a>${ item.state.state }</a></td>
                <td class="prescriberTableItem" scope="row"><a>${ item.specialty }</a></td>
            </tr>
            %endfor
        </tbody>
    </table>
</%block>
<%block name="content">
    
</%block>