<%inherit file="app_base.htm" />
<%from search import models as smod %>
<%block name="header">
    <div class="form-box">
        <div class="head bg-primary">Search By Provider</div>
        <form id="search-form" class="form-inline my-2 my-lg-0" method="POST">
                <table align="center">
                    ${ form.as_table() }
                </table>
            <input id="submit_btn" type="submit" class="btn btn-primary btn-block btn-lg" value="Search"/>           
        </form>
    </div>

    <div class="center">
            <table align="center" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">
                            Prescriber Names
                        </th>
                    </tr>
                </thead>
                %for item in prescribers:
                <tr class="table-active">
                    <td scope="row" class="center">
                        <a href="/search/prescriber_profile/${ item.prescriberid }">${ item.fname + ' ' + item.lname }</a>
                    </td>
                </tr>
                %endfor
            </table>
        </div>
</%block>
<%block name="content">
    
</%block>