## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>
            <%block name="title">
            Opiate Tracker
            </%block>
        </title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link id="theme" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        
        <script>

        function lights(sheet, button, showButton) {
            document.getElementById("theme").setAttribute("href", sheet);
            button.style.display = 'none';
            showButton.style.display = 'block';
        }

        function initiate() {
            var darkMode = document.getElementById("darkModeButton");
            var lightMode = document.getElementById("lightModeButton");

            darkMode.onclick = function () { lights("https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css", darkMode, lightMode) };
            lightMode.onclick = function () { lights("https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/flatly/bootstrap.min.css", lightMode, darkMode) };

            darkMode.style.display = 'block';
            lightMode.style.display = 'none';
        }

        window.onload = initiate;


        </script>

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <a class="navbar-brand" href="/">
                    <img src="${ STATIC_URL }homepage/media/drugs.png" width="50" height="50" alt="">
                Opioid Tracker
                </a>

            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item ${ 'active' if request.dmp.app == 'homepage' and request.dmp.page == 'index' else ''}">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ${ 'active' if request.dmp.app == 'providers' else ''}">
                    <a class="nav-link" href="/providers">Providers</a>
                </li>
                <li class="nav-item ${ 'active' if request.dmp.app == 'drugs' else ''}">
                    <a class="nav-link" href="/drugs">Drugs</a>
                </li>
                <li class="nav-item ${ 'active' if request.dmp.page == 'about' else ''}">
                    <a class="nav-link" href="/about">About</a>
                </li>
                </ul>        
                    <button id="darkModeButton" class="btn btn-secondary" style="margin-left: 10px; display: none;">Lights Off</button>
                    <button id="lightModeButton" class="btn btn-secondary" style="margin-left: 10px;">Lights On</button>
                    <a class="btn btn-secondary my-2 my-sm-0" style="margin-left: 10px;" href="${ '/account/logout' if user.is_authenticated else '/account' }" >${ 'Logout' if user.is_authenticated else 'Login'}</a>
                    <a href="account/signup" class="btn btn-success" role="button" style="margin-left: 10px; display: ${ 'none' if user.is_authenticated else 'block' }">Sign Up</a>
            </div>
        </nav>

        <header>
            <%block name="header">
            </%block>
        </header>

        <main>
            <div id = content>
                <%block name="content">
                    Site content goes here in sub-templates.
                </%block>
            </div>
        </main>

        <footer>
            <div class="footer text-primary">
                <p>Powered by SCRM Consulting</p>
                <p>Copyright &copy; 2019</p>
            </div>
        </footer>

    </body>
</html>
