<%inherit file="base.htm" />

<%block name="content">
    <div class="card-deck">
        <div class="card border-info">
            <div class="card-body"> 
            
                <i class="fas fa-user-md fa-9x" style="color: #18BC9C"></i>
                <br />
                <br />
                <button class="btn btn-info btn-lg btn-block" type="submit">Providers</button>

            </div>
        </div>
        <div class="card border-info">
            <div class="card-body">

                <i class="fas fa-prescription-bottle fa-9x" style="color: #18BC9C"></i>
                <br />
                <br />
                <button class="btn btn-info btn-lg btn-block" type="submit">Drugs</button>

            </div>
        </div>
        <div class="card border-info">
            <div class="card-body">
            
                <i class="fas fa-info fa-9x" style="color: #18BC9C"></i>
                <br />
                <br />
                <button class="btn btn-info btn-lg btn-block" type="submit">About</button>
                
            </div>
        </div>
    </div>
</%block>
